@media screen
{
html, form {
				height: 100%;
}
.ggaBasePosition {
				width: 920px;
				margin-left: auto;
				margin-right: auto;
}
.ggaBody {
				background-color: #666666;
				height: 100%;
				margin: 0px;
				vertical-align: top;
}
.ggaAuthoringRegion {
				background-color: #666666;
}
.ggaSiteActionMenu {
				float: right;
}
.ggaLogin {
				font-size: 8pt;
				background: transparent;
				font-family: tahoma;
}
.ggaConsole {
				clear: both;
}
.ggaSharepointLogin {
				float: right;
				display: inline;
}
.gga-globallinks {
				background: transparent;
				font-family: tahoma;
				font-size: 8pt;
				color: #666666;
}
.gga-globallinks, .gga-globallinks a {
				color: #666666;
}
.ggaSharepointLogin .gga-globallinks {
				position: relative;
}
.ggaMiddle {
				background-color: white;
				min-height: 566px;
}
.ggaLeft {
}
.ggaRight {
}
.ggaTopLinkBar {
				background-color: #666666;
				float: right;
				display: inline;
				color: red;
}
.ggaTopLinkBar a, .ggaTopLinkBar a:active {
				color: red;
				font-family: tahoma;
				font-size: 9pt;
				text-decoration: none;
}
.ggaTopLinkBar a:hover {
				text-decoration: underline;
}
.ggaTopLink {
				background: url("Images/linksdivider.gif") right 6px no-repeat;
				display: inline;
}
.ggaLogo {			
				background-color: #000080;
				background-image: url("Images/GGAMasterPages/GGA/Logo.jpg");
				background-repeat: no-repeat;
				height: 80px;
}
.ggaSiteRetrun {
				display: inline;
				font-family: "Times New Roman", Times, serif;
				font-weight: bold;
				font-size: 35px;
				color: white;
}
.ggaSiteRetrun a {
				color: white;
				position: relative;
				left: 45px;
				top: 5px;
}
.ggaCurrentSite {
				display: block;
				font-family: "Times New Roman", Times, serif;
				font-size: 16pt;
				color: #3F3F3F;
}
.ggaCurrentSite a {
				color: #3F3F3F;
				position: relative;
				left: 105px;
				top: 5px;
}
.ggaDescription {
				display: none;
				position: relative;
				left: 50px;
				top: 50px;
}
.ggaTopNavRoundLeft {
				background-color: #5e7893;
}
.ggaTopNavRoundRight {
}
.ggaTopNavContainer {
				height: 24px;
}
.ggaTopNav {
				margin-left: 2px;
				text-align: center;
}
.ggaTopNavItem {
				color: white;
				font-size: 10pt;
				padding-top: 3px;
				padding-bottom: 3px;
}
.ggaTopNavItem a {
				padding-right: 15px;
				padding-left: 15px;
}
.ggaTopNavSelected {
}
.ggaTopNavSelected a {
}
.ggaTopNavHover {
}
.ggaTopNavHover a {
				text-decoration: underline;
}
.ggaTopNavFlyOuts {
				display: none;
}
.ggaTopNavFlyOutsItem {
				display: none;
}
.ggaTopNavFlyOutsItem a {
				display: none;
}
.ggaTopNavFlyOutsHover {
				display: none;
}
.ggaSearch {
				display: none;
				margin: 2px 2px 20px 2px;
}
.ggaSearch .ms-sbcell .ms-sbplain {
				margin-right: 2px;
				margin-left: 2px;
				border: 1px #555555 solid;
				height: 14px;
}
.ggaSearch .ms-sbcell {
				border: none;
				font-weight: normal;
				font-size: 8pt;
				color: #3A4663;
				padding: 0px;
}
.ggaSearch .ms-sbgo {
				background: none;
}
.ggaBreadCrumbArea {
				display: none;
}
.ggaBreadcrumb {
				display: none;
}
.ggaBreadcrumb a, .ggaBreadcrumb:active, .ggaBreadcrumb a:active {
				display: none;
}
.ggaBreadcrumb a:hover {
				display: none;
}
.ggaBreadcrumbCurrent {
				display: none;
}
.ggaMasterContent {
}
.ggaLeftNavTopImage {
}
.ggaLeftNavBottomImage {
}
.ggaLeftNavArea {
				background-color: #d4cbae;
				height: 459px;
}
.ggaLeftNav {
				background-color: #d4cbae;
				color: black;
				width: 170px;
}
.ggaLeftNavSelected {
				background-color: #E2E1C5;
				color: black;
}
.ggaLeftNav1 {
				border-bottom-style: solid;
				border-width: 1px;
				border-color: #C0C0C0;
				color: #595959;
				font-size: 9pt;
				height: 30px;
				padding-left: 2px;
}
.ggaLeftNav1 a {
}
.ggaLeftNav2 {
				border-bottom-style: solid;
				border-width: 1px;
				border-color: #C0C0C0;
				color: #595959;
				font-size: 9pt;
				height: 30px;
				padding-left: 7px;
}
.ggaLeftNav2 a {
}
.ggaLeftNav3 {
}
.ggaLeftNav3 a {
}
.ggaLeftNavHover {
				background-color: #E2E1C5;
				color: black;
}
.ggaLeftNavHover a {
}
.ggaLeftNavFlyOuts {
				font-family: Tahoma;
				font-size: 8pt;
				border-top: 1px #CBD1E0 solid;
				border-left: 1px #CBD1E0 solid;
				border-right: 1px #CBD1E0 solid;
}
.ggaLeftNavFlyOutsItem {
				border-bottom: 1px #CBD1E0 solid;
				background-color: #ECEFF3;
}
.ggaLeftNavFlyOutsItem a {
				padding: 1px 5px 1px 5px;
				display: block;
				color: #354260; *;
				width: 100px;
				min-width: 100px;
}
.ggaLeftNavFlyOutsHover {
				background-color: #B2BCD3;
}
.ggaLeftNavSpacer {
				width: 170px;
}
.ggaMainContainerArea {
				width: 100%;
}
.ggaPageTitle {
				margin: 0px;
				font-family: tahoma;
				font-size: 12pt;
				font-weight: bold;
				color: #666666;
				display: none;
}
.ggaPageTitle span {
				margin: 0px;
				padding: 0px;
}
.ggaMainContainer {
				margin-left: 10px;
				margin-right: 10px;
				min-height: 360px;
}
.ggaFooter {
				background-color: #FFFFFF;
				width: 100%;
}
.ggaFooterdivider {
				font-size: small;
				border-top: thin;
				border-top-color: silver;
				border-top-style: solid;
				text-align: center;
				width: 100%;
}
.ggaFooterlinks {
				font-family: "Times New Roman", Times, serif;
				font-size: small;
				color: black;
				float: none;
}
.mainContent div.ms-pagebreadcrumb, .mainContent td.ms-pagebreadcrumb {
				display: none;
}
div.ms-wikieditouter {
				position: static;
				border-bottom: 1px #6393d4 solid;
				margin-bottom: 8px;
				margin-right: 5px;
				border-right-width: 1px;
}
div.ms-quicklaunchouter {
				margin-left: 7px;
				margin-top: 5px;
				width: 158px;
				border-width: 0px;
}
.PrintOnly {
				display: none;
}
}
@media print
{
.ScreenOnly {
				display: none;
}
html, form {
}
.ggaBasePosition {
}
.ggaBody {
}
.ggaMiddle {
}
.ggaLeft {
}
.ggaRight {
}
.ggaMasterContent {
}
.ggaMainContainerArea {
}
.ggaLogo {
}
.ggaSiteRetrun {
				color: black;
				font-family: "Times New Roman", Times, serif;
				font-weight: bold;
				font-size: 30px;
				text-align: center;
				width: 100%;
}
.ggaSiteRetrun a {
				color: black;
				text-align: center;
				width: 100%;
}
.ggaMainContainer {
				margin-left: 10px;
				margin-right: 10px;
}
.sessionTest {
				display: none;
}
.ggaAuthoringRegion {
				display: none;
}
.ggaSiteActionMenu {
				display: none;
}
.ggaLogin {
				display: none;
}
.ggaConsole {
				display: none;
}
.ggaSharepointLogin {
				display: none;
}
.gga-globallinks {
				display: none;
}
.gga-globallinks, .gga-globallinks a {
				display: none;
}
.ggaSharepointLogin .gga-globallinks {
				display: none;
}
.ggaTopLinkBar {
				display: none;
}
.ggaTopLinkBar a, .ggaTopLinkBar a:active {
				display: none;
}
.ggaTopLinkBar a:hover {
				display: none;
}
.ggaTopLink {
				display: none;
}
.ggaCurrentSite {
				display: none;
}
.ggaCurrentSite a {
				display: none;
}
.ggaDescription {
				display: none;
}
.ggaTopNavRoundLeft {
				display: none;
}
.ggaTopNavRoundRight {
				display: none;
}
.ggaTopNavContainer {
				display: none;
}
.ggaTopNav {
				display: none;
}
.ggaTopNavItem {
				display: none;
}
.ggaTopNavItem a {
				display: none;
}
.ggaTopNavSelected {
				display: none;
}
.ggaTopNavSelected a {
				display: none;
}
.ggaTopNavHover {
				display: none;
}
.ggaTopNavHover a {
				display: none;
}
.ggaTopNavFlyOuts {
				display: none;
}
.ggaTopNavFlyOutsItem {
				display: none;
}
.ggaTopNavFlyOutsItem a {
				display: none;
}
.ggaTopNavFlyOutsHover {
				display: none;
}
.ggaSearch {
				display: none;
}
.ggaSearch .ms-sbcell .ms-sbplain {
				display: none;
}
.ggaSearch .ms-sbcell {
				display: none;
}
.ggaSearch .ms-sbgo {
				display: none;
}
.ggaBreadCrumbArea {
				display: none;
}
.ggaBreadcrumb {
				display: none;
}
.ggaBreadcrumb a, .ggaBreadcrumb:active, .ggaBreadcrumb a:active {
				display: none;
}
.ggaBreadcrumb a:hover {
				display: none;
}
.ggaBreadcrumbCurrent {
				display: none;
}
.ggaLeftNavTopImage {
				display: none;
}
.ggaLeftNavTopLink {
				display: none;
}
.ggaLeftNavBottomImage {
				display: none;
}
.ggaLeftNavArea {
				display: none;
}
.ggaLeftNav {
				display: none;
}
.ggaLeftNavSelected {
				display: none;
}
.ggaLeftNavSelected a {
				display: none;
}
.ggaLeftNav1 {
				display: none;
}
.ggaLeftNav1 a {
				display: none;
}
.ggaLeftNav2 {
				display: none;
}
.ggaLeftNav2 a {
				display: none;
}
.ggaLeftNav3 {
				display: none;
}
.ggaLeftNav3 a {
				display: none;
}
.ggaLeftNavHover {
				display: none;
}
.ggaLeftNavFlyOuts {
				display: none;
}
.ggaLeftNavFlyOutsItem {
				display: none;
}
.ggaLeftNavFlyOutsItem a {
				display: none;
}
.ggaLeftNavFlyOutsHover {
				display: none;
}
.ggaLeftNavSpacer {
				display: none;
}
.ggaPageTitle {
				display: none;
}
.ggaPageTitle span {
				display: none;
}
.ggaFooter {
				display: none;
}
.ggaFooterdivider {
				display: none;
}
.ggaFooterlinks {
				display: none;
}
.bottomLinkBar {
				display: none;
}
.mainContent div.ms-pagebreadcrumb, .mainContent td.ms-pagebreadcrumb {
				display: none;
}
div.ms-wikieditouter {
				display: none;
}
div.ms-quicklaunchouter {
				display: none;
}
}
@media print, screen
{
.ggaError {
				color: red;
}
.ggaTimer {
				display: none;
}
.ggaBasicSearch {
				display: none;
}
.HouseH1 {
				font-size: large;
				font-weight: bold;
}
}

